<ion-header>
    <ion-toolbar color=white>
        <img src="assets/sonic icon.png">
        <ion-title>Guitarras</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class='box'>

        <ion-row>
            <ion-col size="60">
                <ion-card routerLink="/sg">
                    <ion-card-header>
                        <img src="assets/sg.jpg">
                    </ion-card-header>
                    <ion-card-content>
                        Epiphone SG Standard Cherry
                    </ion-card-content>
                </ion-card>
            </ion-col>

            <ion-col size="60">
                <ion-card>
                    <ion-card-header>
                        <img src="assets/lp.jpg">
                    </ion-card-header>
                    <ion-card-content>
                        Epiphone Les Paul
                    </ion-card-content>
                </ion-card>
            </ion-col>

            <ion-col size="60">
                <ion-card>
                    <ion-card-header>
                        <img src="assets/strat.jpg">
                    </ion-card-header>
                    <ion-card-content>
                        Fender Stratocaster Deluxe Roadhouse
                    </ion-card-content>
                </ion-card>
            </ion-col>

            <ion-col size="60">
                <ion-card>
                    <ion-card-header>
                        <img src="assets/v.jpg">
                    </ion-card-header>
                    <ion-card-content>
                        Jackson JS32 Randy Rhodes
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

    </div>

</ion-content>