<ion-header>
    <ion-toolbar color=white>
        <img src="assets/sonic icon.png">
        <ion-title>Guitarras</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides [options]="option" class="ion-margin-top">


        <ion-slide>
            <ion-card>
                <img src="assets/sg2.jpg">
            </ion-card>
        </ion-slide>

        <ion-slide>
            <ion-card>
                <img src="assets/sg.jpg">
            </ion-card>
        </ion-slide>

    </ion-slides>

    <ion-card>
        <ion-card-header>
            Guitarra Electrica Epiphone SG Standard Cherry
        </ion-card-header>
        <ion-card-subtitle>
            $12,499,00
        </ion-card-subtitle>
        <ion-card-content>
            Especificaciones: Material Caoba, Perfil SlimTaper ™, Longitud de escala 24,75 ", Material del diapasón Laurel indio, Radio del diapasón 12 ", Número de trastes 22, Trastes Medium Jumbo
        </ion-card-content>
        <ion-button color='dark' expand='block' routerLink="/inicio">Agregar al carrito</ion-button>



    </ion-card>



</ion-content>