<ion-content class="ion-padding ion-text-center">

    <div class="logo">
        <img src='https://seeklogo.com/images/S/sonic-logo-A37D20055F-seeklogo.com.png'>
    </div>

    <div class="form">
        <ion-item>
            <ion-input [(ngModel)]='email' placeholder='Ingresar email'></ion-input>
        </ion-item>

        <ion-item>
            <ion-input [(ngModel)]='contrasena' placeholder='Contraseña' type='password'></ion-input>
        </ion-item>

        <ion-button color='dark' expand='block'>Ingresar</ion-button>
    </div>
    <ion-button fill='clear'>Regístrate aquí</ion-button>
</ion-content>