.logo {
    margin-top: 20%;
    img {
        height: 200px;
    }
}

.form {
    ion-item {
        border-radius: 5px;
        border-color: grey;
        border-width: 2px;
        border-style: solid;
        margin-bottom: 10px;
    }
}