ion-title {
    font-size: 35px;
}

img {
    max-width: 12%;
    height: auto;
}

.box {
    &__1 {
        background-color: rgb(33, 117, 156);
        width: 200px;
        border: 1px solid rgb(0, 0, 0);
        padding: 50px;
        margin: 20px;
    }
    &__2 {
        background-color: rgb(223, 138, 27);
        width: 200px;
        border: 1px solid rgb(0, 0, 0);
        padding: 50px;
        margin: 20px;
    }
    &__3 {
        background-color: rgb(141, 44, 185);
        width: 200px;
        border: 1px solid rgb(0, 0, 0);
        padding: 50px;
        margin: 20px;
    }
}